In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [ ]:
# .reset_index() is helpful for dataframe

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df  = pd.read_csv('/content/drive/MyDrive/Hindi TV Serials.csv')

In [ ]:
df.head()

,Name,Ratings,genres,overview,Year,Cast
0,Kyunki Saas Bhi Kabhi Bahu Thi,1.6,"Comedy, Drama, Family",A mother-in-law's struggle to put up with her ...,2000–2008,"Smriti Malhotra-Irani ,Ronit Roy ,Amar Upadhya..."
1,Kahaani Ghar Ghar Kii,2.1,Drama,The show explored the worlds of its protagonis...,2000–2008,"Sakshi Tanwar ,Kiran Karmarkar ,Mita Vashisht ..."
2,Kesar,4.1,Family,"A story about a girl, Kesar, who fights for he...",2002–2007,"Nandini Singh ,Firoz Ali ,Hiten Tejwani ,Yash ..."
3,Kaahin Kissii Roz,6.0,Thriller,Shaina is beautiful and talented. Kunal is sua...,2001–2004,"Yash Tonk ,Sudha Chandran ,Mouli Ganguly ,Shwe..."
4,K. Street Pali Hill,7.4,Thriller,"A story about three friends relation, emotions...",2004–2006,"Ashwini Kalsekar ,Vikram Kapadia ,Jaswir Kaur ..."

In [ ]:
df.shape

(744, 6)

In [ ]:
df.isnull().sum()

Name         0
Ratings     19
genres       4
overview     0
Year        17
Cast        40
dtype: int64

In [ ]:
df['Ratings'].min()

0.0

In [ ]:
# Check Null Values in the column from this function 
df.loc[df['Ratings'].isnull(),:]

,Name,Ratings,genres,overview,Year,Cast
23,Kehta Hai Dil,NaN,"Drama, Family",Kehta Hai Dil is the story of a family who liv...,NaN,"Aman Verma ,Swapnil Joshi ,Grusha Kapoor ,Rush..."
83,Miilee,NaN,"Comedy, Romance","Miilee a young orphan girl, living in a conven...",NaN,"Mona Wasu ,Ajay Gehi ,Kiran Kumar ,Aashif Sheikh"
112,Mariam Khan - Reporting Live,NaN,Drama,The show has a Muslim background and tells the...,NaN,"Mahima Makwana ,Anju Mahendru ,Param Singh ,Ra..."
129,Maa Shakti,NaN,History,The Famous Old serial is based on devi bhagwat...,NaN,"Indrani Haldar ,Sandeep Mohan ,Rishabh Shukla ..."
174,Lockdown Ki Love Story,NaN,Romance,Mumbai's Sonam is about to get hitched to Dhru...,NaN,NaN
238,Reth,NaN,Drama,Reth tells the story of struggle of a married ...,NaN,"Kishwar Merchant ,Nupur Alankar ,Ankur Nayyar ..."
317,Gardish,NaN,Thriller,Add a Plot,NaN,"Alok Nath ,Ayub Khan ,Mahesh Thakur ,Shakti Singh"
334,9 Malabar Hill,NaN,Thriller,Add a Plot,NaN,"Deepika Amin ,Alka Badola Kaushal ,Sandeep Kul..."
353,Andaz,NaN,Drama,Add a Plot,NaN,"Navneet Nishan ,Sudesh Berry ,Shekhar Suman ,P..."
354,Daraar,NaN,Drama,Add a Plot,NaN,"Sangeeta Ghosh ,Anant Jog ,Rishabh Shukla ,Pri..."
363,Manzilein Apani Apani,NaN,Drama,Add a Plot,NaN,"Nandita Thakur ,Alka Badola Kaushal ,Jyoti Muk..."
416,Ghar Ek Mandir,NaN,Drama,Genda teaches everyone not to consider anyone ...,2022–,"Sameer Dharmadhikari ,Shrenu Parikh ,Yamini Si..."
542,Super Sisters - Chalega Pyar Ka Jaadu,NaN,Drama,"Shivani and Siddhi, two sisters, have an unbre...",NaN,"Arsh Merchant ,Manini Mishra ,Vaishali Takkar ..."
601,Kuchh Jhuki Palkein,NaN,Family,Niyati is a simple Indian girl who gets marrie...,NaN,"Ritu Chaudhary ,Sandeep Baswana ,Nayan Bhatt ,..."
649,Par Is Dil Ko Kaise Samjaye,NaN,Drama,The story of two sisters whose lives get drama...,NaN,"Dinesh Kaushik ,Pooja Ghai Rawal ,Shweta Salve..."
650,Naam Gum Jayegaa,NaN,Drama,The story is about 2 girls named Priyanka and ...,NaN,NaN
691,Yeh Pyaar Nahi Toh Kya Hai,NaN,Romance,Two childhood friends whose fate were intertwi...,2018,"Palak Jain ,Namit Khanna ,Lokesh Kumar Aggarwa..."
701,Arslaan,NaN,Fantasy,Add a Plot,NaN,"Mukul Dev ,Neil Bhatt ,Kishwar Merchant ,Manas..."
706,Surya the Super Cop,NaN,Thriller,An investigative series with three separate in...,NaN,NaN

In [ ]:
df['Ratings'] = df['Ratings'].mode().values[0]
df[df['Ratings'].isna()] = df['Ratings']

In [ ]:
#df.loc[df['Ratings'].isnull(),:]

In [ ]:
df['Ratings'] = df['Ratings'].fillna('No Ratings')
df['genres'] = df['genres'].fillna('Reality-TV')
df['Cast'] = df['Cast'].fillna('No Cast Serial')
df.dropna(subset=['Year'],inplace=True)

In [ ]:
df.loc[df['genres'].isnull(),:]

Empty DataFrame
Columns: [Name, Ratings, genres, overview, Year, Cast]
Index: []

In [ ]:
df['Serial_overview'] = df['genres'].astype(str)+" "+df['overview'].astype(str)+" "+df['Cast'].astype(str)

In [ ]:
serial_with_name = df['Serial_overview'].groupby(df['Name'])

In [ ]:
serial_with_name

In [ ]:
df.head()

,Name,Ratings,genres,overview,Year,Cast,Serial_overview
0,Kyunki Saas Bhi Kabhi Bahu Thi,0.0,"Comedy, Drama, Family",A mother-in-law's struggle to put up with her ...,2000–2008,"Smriti Malhotra-Irani ,Ronit Roy ,Amar Upadhya...","Comedy, Drama, Family A mother-in-law's strugg..."
1,Kahaani Ghar Ghar Kii,0.0,Drama,The show explored the worlds of its protagonis...,2000–2008,"Sakshi Tanwar ,Kiran Karmarkar ,Mita Vashisht ...",Drama The show explored the worlds of its prot...
2,Kesar,0.0,Family,"A story about a girl, Kesar, who fights for he...",2002–2007,"Nandini Singh ,Firoz Ali ,Hiten Tejwani ,Yash ...","Family A story about a girl, Kesar, who fights..."
3,Kaahin Kissii Roz,0.0,Thriller,Shaina is beautiful and talented. Kunal is sua...,2001–2004,"Yash Tonk ,Sudha Chandran ,Mouli Ganguly ,Shwe...",Thriller Shaina is beautiful and talented. Kun...
4,K. Street Pali Hill,0.0,Thriller,"A story about three friends relation, emotions...",2004–2006,"Ashwini Kalsekar ,Vikram Kapadia ,Jaswir Kaur ...","Thriller A story about three friends relation,..."

In [ ]:
popular_df = df[['Name','Serial_overview','Ratings']]

In [ ]:
popular_df

,Name,Serial_overview,Ratings
0,Kyunki Saas Bhi Kabhi Bahu Thi,"Comedy, Drama, Family A mother-in-law's strugg...",0.0
1,Kahaani Ghar Ghar Kii,Drama The show explored the worlds of its prot...,0.0
2,Kesar,"Family A story about a girl, Kesar, who fights...",0.0
3,Kaahin Kissii Roz,Thriller Shaina is beautiful and talented. Kun...,0.0
4,K. Street Pali Hill,"Thriller A story about three friends relation,...",0.0
...,...,...,...
739,Kaamnaa,Drama 'Kamna' is bringing the story of the con...,0.0
740,Dhadkan Zindaggi Kii,"Drama In a world where rules are set by men, D...",0.0
741,Mose Chhal Kiye Jaaye,Drama Serial showcases a story of girl named S...,0.0
742,Jagannath Aur Purvi Ki Dosti Anokhi,"Drama Jagannath Mishra, an elderly gentleman, ...",0.0
743,Shark Tank India,Reality-TV Aspiring entrepreneurs from India p...,0.0

In [ ]:
popular_df.drop(columns=['Ratings'])

,Name,Serial_overview
0,Kyunki Saas Bhi Kabhi Bahu Thi,"Comedy, Drama, Family A mother-in-law's strugg..."
1,Kahaani Ghar Ghar Kii,Drama The show explored the worlds of its prot...
2,Kesar,"Family A story about a girl, Kesar, who fights..."
3,Kaahin Kissii Roz,Thriller Shaina is beautiful and talented. Kun...
4,K. Street Pali Hill,"Thriller A story about three friends relation,..."
...,...,...
739,Kaamnaa,Drama 'Kamna' is bringing the story of the con...
740,Dhadkan Zindaggi Kii,"Drama In a world where rules are set by men, D..."
741,Mose Chhal Kiye Jaaye,Drama Serial showcases a story of girl named S...
742,Jagannath Aur Purvi Ki Dosti Anokhi,"Drama Jagannath Mishra, an elderly gentleman, ..."
743,Shark Tank India,Reality-TV Aspiring entrepreneurs from India p...

In [ ]:
popular_df.duplicated().sum()

3

In [ ]:
popular_df.drop_duplicates(inplace=True)

<ipython-input-22-b0916a7335b5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  popular_df.drop_duplicates(inplace=True)

In [ ]:
popular_df[popular_df['Ratings']==0.0]

,Name,Serial_overview,Ratings
0,Kyunki Saas Bhi Kabhi Bahu Thi,"Comedy, Drama, Family A mother-in-law's strugg...",0.0
1,Kahaani Ghar Ghar Kii,Drama The show explored the worlds of its prot...,0.0
2,Kesar,"Family A story about a girl, Kesar, who fights...",0.0
3,Kaahin Kissii Roz,Thriller Shaina is beautiful and talented. Kun...,0.0
4,K. Street Pali Hill,"Thriller A story about three friends relation,...",0.0
...,...,...,...
739,Kaamnaa,Drama 'Kamna' is bringing the story of the con...,0.0
740,Dhadkan Zindaggi Kii,"Drama In a world where rules are set by men, D...",0.0
741,Mose Chhal Kiye Jaaye,Drama Serial showcases a story of girl named S...,0.0
742,Jagannath Aur Purvi Ki Dosti Anokhi,"Drama Jagannath Mishra, an elderly gentleman, ...",0.0
743,Shark Tank India,Reality-TV Aspiring entrepreneurs from India p...,0.0

In [ ]:
def remove_punctuation(text):
  import string
  translator = str.maketrans('','',string.punctuation)
  return text.translate(translator)

In [ ]:
popular_df['Serial_overview'] = popular_df['Serial_overview'].apply(remove_punctuation)

<ipython-input-25-bcc32266e80e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  popular_df['Serial_overview'] = popular_df['Serial_overview'].apply(remove_punctuation)

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
from nltk.corpus import stopwords
sw = stopwords.words('english')
np.array(sw)

array(['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you',
       "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself',
       'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her',
       'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them',
       'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom',
       'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are',
       'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had',
       'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and',
       'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at',
       'by', 'for', 'with', 'about', 'against', 'between', 'into',
       'through', 'during', 'before', 'after', 'above', 'below', 'to',
       'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under',
       'again', 'further', 'then', 'once', 'here', 'there', 'when',
       'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more',
       'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own',
       'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will',
       'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll',
       'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn',
       "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't",
       'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma',
       'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't",
       'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't",
       'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"],
      dtype='<U10')

In [ ]:
#stop_words = set(stopwords.words('english'))

In [ ]:
from nltk.tokenize import word_tokenize

In [ ]:
'''a function for removing the stopword'''

'a function for removing the stopword'

In [ ]:
def stopwords(text):
    '''a function for removing the stopword'''
    # removing the stop words and lowercasing the selected words
    text = [word.lower() for word in text.split() if word.lower() not in sw]
    # joining the list of words with space separator
    return " ".join(text)

In [ ]:
popular_df['Serial_overview'][0]

'Comedy Drama Family A motherinlaws struggle to put up with her three bahus The three bahus have grown up sons The bahus sons start to get involved with having girlfriends and the bahus try and break their relationships up Smriti MalhotraIrani Ronit Roy Amar Upadhyay Sudha Shivpuri'

In [ ]:
popular_df['Serial_overview'] = popular_df['Serial_overview'].apply(stopwords)

<ipython-input-33-1b79124f7308>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  popular_df['Serial_overview'] = popular_df['Serial_overview'].apply(stopwords)

In [ ]:
popular_df.head()

,Name,Serial_overview,Ratings
0,Kyunki Saas Bhi Kabhi Bahu Thi,comedy drama family motherinlaws struggle put ...,0.0
1,Kahaani Ghar Ghar Kii,drama show explored worlds protagonists parvat...,0.0
2,Kesar,family story girl kesar fights love life famil...,0.0
3,Kaahin Kissii Roz,thriller shaina beautiful talented kunal suave...,0.0
4,K. Street Pali Hill,thriller story three friends relation emotions...,0.0

In [ ]:
popular_df.drop(columns=['Ratings'],inplace=True)

<ipython-input-35-540d8e361ee9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  popular_df.drop(columns=['Ratings'],inplace=True)

In [ ]:
from nltk.stem.snowball import SnowballStemmer
snowball = SnowballStemmer("english")

In [ ]:
stemmer = SnowballStemmer("english")

def stemming(text):    
    '''a function which stems each word in the given text'''
    text = [stemmer.stem(word) for word in text]
    return"" "".join(text)

In [ ]:
popular_df['Serial_overview'] = popular_df['Serial_overview'].apply(stemming)

<ipython-input-38-3a3baa1571b8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  popular_df['Serial_overview'] = popular_df['Serial_overview'].apply(stemming)

In [ ]:

popular_df['Serial_overview'][0]

'comedy drama family motherinlaws struggle put three bahus three bahus grown sons bahus sons start get involved girlfriends bahus try break relationships smriti malhotrairani ronit roy amar upadhyay sudha shivpuri'

In [ ]:
popular_df.head()

,Name,Serial_overview
0,Kyunki Saas Bhi Kabhi Bahu Thi,comedy drama family motherinlaws struggle put ...
1,Kahaani Ghar Ghar Kii,drama show explored worlds protagonists parvat...
2,Kesar,family story girl kesar fights love life famil...
3,Kaahin Kissii Roz,thriller shaina beautiful talented kunal suave...
4,K. Street Pali Hill,thriller story three friends relation emotions...

In [ ]:
popular_df.shape

(724, 2)

In [ ]:
popular_df['Serial_overview'][0]

'comedy drama family motherinlaws struggle put three bahus three bahus grown sons bahus sons start get involved girlfriends bahus try break relationships smriti malhotrairani ronit roy amar upadhyay sudha shivpuri'

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
def tfidf_vectorizer(text):
  tfidf_vectorizer_func = TfidfVectorizer()
  tfidf_vectorizer_func.fit(popular_df['Serial_overview'])
  dictionary = tfid_vectorizer_func.vocabulary_.items()
  return dictionary

In [ ]:
vectorizer = TfidfVectorizer(sublinear_tf= True, min_df=10, norm='l2', ngram_range=(1, 2), stop_words='english')
X_vc = vectorizer.fit_transform(popular_df["Serial_overview"])

pt = pd.DataFrame(X_vc.toarray(), columns=vectorizer.get_feature_names_out()).head(724)

In [ ]:
pt

,abhishek,action,add,add plot,aditya,adventure,age,ali,amit,anand,...,village,vishal,way,wife,woman,women,world,years,young,young woman
0,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000
1,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.427436,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000
2,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.491175,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000
3,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.313734,0.000000,0.0,0.000000,0.0,0.000000,0.000000
4,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,0.40786,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.381921,0.000000,0.0,0.000000,0.0,0.000000,0.000000
720,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.424314,0.0,0.000000,0.000000
721,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000
722,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.310726,0.0,0.000000,0.0,0.264118,0.372616
723,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000

In [ ]:
pt.shape

(724, 221)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity_score = cosine_similarity(pt)

In [ ]:
similarity_score[0]

array([1.        , 0.14172482, 0.13878843, 0.        , 0.        ,
       0.0169849 , 0.02249277, 0.        , 0.01925704, 0.3257054 ,
       0.01983866, 0.01533429, 0.36158352, 0.01967734, 0.17199239,
       0.        , 0.        , 0.16010935, 0.01711466, 0.0253368 ,
       0.28429433, 0.01468968, 0.02025862, 0.07844716, 0.01779523,
       0.        , 0.07323013, 0.0950158 , 0.01520606, 0.02280956,
       0.01601627, 0.01480764, 0.32799503, 0.11327096, 0.02033273,
       0.2394087 , 0.02408216, 0.01767518, 0.02404319, 0.        ,
       0.11926746, 0.23777655, 0.20482689, 0.06819687, 0.11411547,
       0.10725329, 0.09374381, 0.02927582, 0.15174347, 0.01612353,
       0.01985224, 0.03063335, 0.0283978 , 0.01683588, 0.01819559,
       0.01971017, 0.        , 0.01651965, 0.0794511 , 0.01463514,
       0.08183105, 0.02244433, 0.0248016 , 0.0686876 , 0.01327131,
       0.02090882, 0.02225596, 0.02010956, 0.        , 0.02059481,
       0.25696984, 0.03055726, 0.01916739, 0.01735433, 0.01719056,
       0.01690598, 0.01872457, 0.01655846, 0.01536792, 0.01446686,
       0.02115413, 0.0909404 , 0.03602489, 0.01650429, 0.03063335,
       0.        , 0.01716321, 0.02138452, 0.        , 0.01650034,
       0.07561181, 0.        , 0.05603702, 0.        , 0.02685854,
       0.        , 0.0631594 , 0.12784174, 0.05389192, 0.01689454,
       0.02120922, 0.08040109, 0.10337077, 0.01721408, 0.1988095 ,
       0.22219396, 0.14117848, 0.06684383, 0.01309481, 0.        ,
       0.02029876, 0.02714873, 0.01762347, 0.        , 0.31773655,
       0.01550865, 0.01834716, 0.0980341 , 0.        , 0.        ,
       0.02215289, 0.        , 0.08736496, 0.05269833, 0.        ,
       0.02115413, 0.01735927, 0.        , 0.09816007, 0.22372873,
       0.02423987, 0.3296068 , 0.        , 0.06420228, 0.        ,
       0.02380691, 0.02030958, 0.13585207, 0.06549281, 0.        ,
       0.01890849, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.01744569, 0.        , 0.05252286,
       0.        , 0.07664553, 0.18255978, 0.        , 0.02913433,
       0.06782699, 0.19755442, 0.03117904, 0.08778124, 0.02948578,
       0.        , 0.01409053, 0.01545336, 0.        , 0.        ,
       0.02083199, 0.01689025, 0.01095648, 0.02407608, 0.07332856,
       0.02040195, 0.06863783, 0.0200634 , 0.        , 0.01912202,
       0.02373822, 0.10644131, 0.12306505, 0.02345138, 0.        ,
       0.24599424, 0.02296954, 0.        , 0.07460328, 0.02335882,
       0.        , 0.26108338, 0.02174522, 0.058292  , 0.02262821,
       0.01723034, 0.01533932, 0.        , 0.02134211, 0.02284419,
       0.01724034, 0.01712225, 0.01963754, 0.06874597, 0.02560563,
       0.0226234 , 0.02542039, 0.01486579, 0.        , 0.        ,
       0.        , 0.20544019, 0.04277122, 0.02074684, 0.02080353,
       0.02090571, 0.02557242, 0.02137727, 0.13521456, 0.01806163,
       0.        , 0.01465789, 0.27622309, 0.08702376, 0.02095338,
       0.        , 0.02905505, 0.01506155, 0.02330791, 0.08897812,
       0.0242344 , 0.01913115, 0.01727885, 0.06643512, 0.01734966,
       0.02045196, 0.04113266, 0.02231065, 0.18889201, 0.02392708,
       0.01654698, 0.01673114, 0.08658887, 0.02027963, 0.27752255,
       0.08484992, 0.        , 0.01625132, 0.05444864, 0.16790719,
       0.0188082 , 0.        , 0.        , 0.01642783, 0.05740321,
       0.0250198 , 0.        , 0.        , 0.02266906, 0.        ,
       0.04850584, 0.        , 0.01806525, 0.        , 0.30836518,
       0.08260099, 0.08774811, 0.08762797, 0.20693329, 0.02759541,
       0.03451982, 0.15392633, 0.39657584, 0.2437579 , 0.        ,
       0.        , 0.02087582, 0.01800289, 0.11673498, 0.07500512,
       0.        , 0.        , 0.        , 0.02230609, 0.083065  ,
       0.10361252, 0.15568172, 0.05513392, 0.08359127, 0.28463143,
       0.08866347, 0.0244897 , 0.01372207, 0.        , 0.02140717,
       0.        , 0.        , 0.30809967, 0.        , 0.02170286,
       0.        , 0.02183286, 0.0155501 , 0.07738341, 0.        ,
       0.02337449, 0.02770598, 0.2181885 , 0.06782699, 0.        ,
       0.02154856, 0.        , 0.01624644, 0.02115413, 0.02115413,
       0.01995242, 0.02034465, 0.        , 0.01982082, 0.        ,
       0.01555453, 0.01524378, 0.02600276, 0.        , 0.18707694,
       0.        , 0.02121914, 0.01584214, 0.        , 0.        ,
       0.01483323, 0.        , 0.02371956, 0.03451982, 0.08176127,
       0.02454603, 0.01940718, 0.        , 0.07075826, 0.02214399,
       0.        , 0.06995204, 0.0145803 , 0.07341688, 0.04686302,
       0.03340005, 0.29496117, 0.01942069, 0.0253778 , 0.02424937,
       0.02123797, 0.02254085, 0.07201473, 0.2910328 , 0.09526258,
       0.01764476, 0.        , 0.07296374, 0.01921422, 0.02335882,
       0.09363073, 0.12912206, 0.02290979, 0.07929396, 0.01804159,
       0.02084872, 0.02491269, 0.        , 0.30442635, 0.09604193,
       0.02008318, 0.02392615, 0.        , 0.05607301, 0.02409224,
       0.03558745, 0.02075153, 0.11002139, 0.01791719, 0.01396064,
       0.        , 0.02347713, 0.02426404, 0.07931662, 0.158345  ,
       0.01740418, 0.        , 0.        , 0.01995705, 0.08808509,
       0.        , 0.0187991 , 0.26312555, 0.        , 0.02686228,
       0.        , 0.03454111, 0.09090473, 0.06724877, 0.01600946,
       0.01689637, 0.0229464 , 0.        , 0.02667805, 0.12522482,
       0.01526847, 0.01602798, 0.02615427, 0.        , 0.03831174,
       0.        , 0.02044939, 0.01708456, 0.02111269, 0.01931428,
       0.17084285, 0.17636639, 0.06313005, 0.01719504, 0.01972289,
       0.01489788, 0.02278208, 0.        , 0.        , 0.22204713,
       0.23654298, 0.0136163 , 0.11081049, 0.08435852, 0.19144   ,
       0.02702507, 0.01473378, 0.21342781, 0.01670577, 0.02096566,
       0.01697832, 0.02088333, 0.01687058, 0.12306107, 0.        ,
       0.01546051, 0.01823329, 0.01740795, 0.01616264, 0.01522892,
       0.        , 0.        , 0.0638371 , 0.01728983, 0.07477302,
       0.02433102, 0.        , 0.07243879, 0.01670708, 0.07442283,
       0.0244154 , 0.01558069, 0.        , 0.02067677, 0.        ,
       0.        , 0.04786258, 0.05740071, 0.14165695, 0.01614565,
       0.02047436, 0.01622281, 0.07605549, 0.        , 0.        ,
       0.01643951, 0.01910568, 0.06781593, 0.06460272, 0.        ,
       0.23817413, 0.01984142, 0.05775278, 0.04175471, 0.        ,
       0.        , 0.05869139, 0.        , 0.        , 0.01868557,
       0.02190128, 0.01964103, 0.03817487, 0.        , 0.03110894,
       0.02703197, 0.01889718, 0.01792402, 0.13113889, 0.14819778,
       0.09619425, 0.06285264, 0.08051727, 0.        , 0.        ,
       0.02359375, 0.0167567 , 0.        , 0.06944844, 0.01810408,
       0.02148056, 0.01865339, 0.02003543, 0.02581264, 0.01953725,
       0.        , 0.02382232, 0.02075606, 0.03183025, 0.02679801,
       0.14896887, 0.01979804, 0.        , 0.07521706, 0.07091949,
       0.11281975, 0.16226761, 0.05487324, 0.05575141, 0.11994542,
       0.07524498, 0.05731965, 0.05869918, 0.        , 0.15605099,
       0.01669901, 0.2198321 , 0.07267539, 0.09648871, 0.        ,
       0.28268118, 0.05268918, 0.23730902, 0.06195286, 0.05779034,
       0.0928499 , 0.1074344 , 0.22799376, 0.32549199, 0.05383737,
       0.09931822, 0.11560428, 0.14238777, 0.10502946, 0.09662394,
       0.        , 0.10879876, 0.24975245, 0.05891975, 0.02061563,
       0.08760747, 0.07558905, 0.10065112, 0.0691864 , 0.        ,
       0.        , 0.06782699, 0.        , 0.23412804, 0.07461123,
       0.01936711, 0.14658231, 0.06878701, 0.        , 0.07353044,
       0.05625438, 0.        , 0.05723012, 0.        , 0.0958976 ,
       0.26282251, 0.        , 0.06848391, 0.1685672 , 0.22127386,
       0.019573  , 0.10328709, 0.02252166, 0.03887264, 0.24061555,
       0.01815663, 0.30938608, 0.        , 0.023927  , 0.01628222,
       0.02097651, 0.08088797, 0.17545436, 0.06407701, 0.03912793,
       0.14755479, 0.        , 0.        , 0.12102881, 0.14003954,
       0.        , 0.        , 0.        , 0.        , 0.016435  ,
       0.        , 0.        , 0.05843438, 0.0767221 , 0.02393295,
       0.01546227, 0.03672957, 0.08114029, 0.08877004, 0.        ,
       0.06742801, 0.02463734, 0.08240052, 0.01957704, 0.38050386,
       0.01795026, 0.0300372 , 0.10330303, 0.08317279, 0.01856805,
       0.02249967, 0.02526818, 0.        , 0.        , 0.02332899,
       0.20245673, 0.01555563, 0.02598897, 0.        , 0.28118212,
       0.22191684, 0.01973107, 0.01852974, 0.1697894 , 0.14788123,
       0.01522467, 0.        , 0.0158661 , 0.01979455, 0.        ,
       0.01687032, 0.06999951, 0.02002293, 0.02191856, 0.01413857,
       0.05675578, 0.17371241, 0.0178739 , 0.06606041, 0.06782699,
       0.18691076, 0.01369765, 0.11255314, 0.01741513, 0.        ,
       0.04075895, 0.10079979, 0.01643967, 0.01359763, 0.        ,
       0.01673845, 0.29320439, 0.10869359, 0.        , 0.        ,
       0.        , 0.01647958, 0.28563527, 0.        , 0.02166107,
       0.0678606 , 0.02491581, 0.1339915 , 0.02589236, 0.        ,
       0.01784564, 0.01765005, 0.        , 0.        , 0.01384572,
       0.19755698, 0.        , 0.        , 0.0229194 , 0.06292002,
       0.        , 0.06140014, 0.        , 0.02745895, 0.19043417,
       0.01828218, 0.15616256, 0.        , 0.        , 0.01847092,
       0.02045196, 0.        , 0.0145835 , 0.        , 0.05280775,
       0.02045582, 0.01937097, 0.01763764, 0.31679929, 0.        ,
       0.13438802, 0.        , 0.        , 0.2875098 , 0.01523584,
       0.        , 0.02669882, 0.01619407, 0.0294694 , 0.0269047 ,
       0.        , 0.01951735, 0.30056077, 0.02293864, 0.0187162 ,
       0.22382334, 0.01969406, 0.0159314 , 0.        ])

In [ ]:
#sorted(list(enumerate(similarity_score[0])),reverse=True,key=lambda x:x[1])[1:6]

In [ ]:
#from sklearn.metrics.pairwise import linear_kernel
# compute the cosine similarity matrix
#cosine_sim = linear_kernel(X_vc,X_vc)

In [ ]:
def recommend(serial_name):
    serial_index = popular_df[popular_df['Name'] == serial_name].index[0]
    distances = similarity_score[serial_index]
    serial_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in serial_list:
        print(popular_df.iloc[i[0]])

In [ ]:
recommend('Comedy Nights with Kapil')

Name                                                       Ayushmaan
Serial_overview    drama teenager whose carefree adolescence pitt...
Name: 703, dtype: object
Name                                                Taare Zameen Par
Serial_overview    gameshow music aspiring young singers india sh...
Name: 178, dtype: object
Name                                                    Tu Mera Hero
Serial_overview    drama lazy affable titus charm sweeps panchi g...
Name: 48, dtype: object
Name                                          Jassi Jaissi Koi Nahin
Serial_overview    drama jassi jaissi koi nahin 2003 popular show...
Name: 603, dtype: object
Name                                                 Zee Comedy Show
Serial_overview    comedy get ready laugh riot renowned celebriti...
Name: 366, dtype: object

In [ ]:
indices = pd.Series(popular_df.index, index=popular_df['Name']).drop_duplicates()

In [ ]:
recommend('Anamika')

Name                                   Madhubala - Ek Ishq Ek Junoon
Serial_overview    drama typical indian tv show based story girl ...
Name: 436, dtype: object
Name                                                Banegi Apni Baat
Serial_overview    drama indias first teenage soap dealt teenage ...
Name: 206, dtype: object
Name                                              Hum Saath Aath Hai
Serial_overview    family satya prakash kapoor widower teacher pr...
Name: 46, dtype: object
Name                                                           Porus
Serial_overview    history porus story indian warrior porus life ...
Name: 652, dtype: object
Name                                                      Dus Ka Dum
Serial_overview    gameshow realitytv indian game show hosted bol...
Name: 609, dtype: object

In [ ]:
import pickle

In [ ]:
pickle.dump(popular_df.to_dict(),open('serial_dict.pkl','wb'))

In [ ]:
pickle.dump(similarity_score,open('similarity.pkl','wb'))